<img style="height:15px;" src="<%= asset_path("sun_enable.png") %>">
<div class="form-check form-switch d-flex align-items-center justify-content-center">
  <input class="form-check-input" type="checkbox" role="switch" id="dark-mode-switch">
</div>
<img style="height:15px;" src="<%= asset_path("moon_disable.png") %>">