@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kantumruy Pro", sans-serif;
}

// table view

.td-points {
  width: 5%;
  font-weight: 800;
}

a.nav-link.active {
  --bs-nav-link-font-weight: 800;
}

// matches view

.title-card-brasileirao {
  font-size: 12px;
  font-weight: 800;
  margin-left: 5px;
}

.card-match-status {
  text-transform: capitalize;
}

// dark mode switch

.form-check-input:focus {
  outline: none;
  box-shadow: none;
}
